<!-- Contact Section -->
<section id="contact" class="contact section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>"I’m always open to new conversations—feel free to reach out with any questions or opportunities."</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">

            <!-- Contact Info -->
            <div class="col-lg-5">
                <div class="info-wrap">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>MIHAN Nagpur, MH</p>
                        </div>
                    </div>

                    <div class="info-item d-flex">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Me</h3>
                            <p>+91 9754820616</p>
                        </div>
                    </div>

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Me</h3>
                            <p>taunktanmay001&#64;gmail.com</p>
                        </div>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14895.553914228678!2d79.0137265!3d21.0371478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c772d0488d0b%3A0xe3a6693e3acc8f82!2ssmartData%20Enterprises%20(I)%20Ltd.!5e0!3m2!1sen!2sin!4v1751633062961!5m2!1sen!2sin" width="100%" height="270px" style="border:0;" allowfullscreen loading="lazy" frameborder="0" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <!-- End Contact Info -->

            <!-- Contact Form -->
            <!-- <div class="col-lg-7">
                <form #contactForm="ngForm" (ngSubmit)="sendEmail()" method="POST" class="php-email-form">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label for="name-field" class="pb-2">Your Name</label>
                            <input type="text" name="name" [(ngModel)]="formModel.name" id="name-field"
                                class="form-control" required>
                        </div>

                        <div class="col-md-6">
                            <label for="email-field" class="pb-2">Your Email</label>
                            <input type="email" name="email" [(ngModel)]="formModel.email" id="email-field"
                                class="form-control" required>
                        </div>

                        <div class="col-md-12">
                            <label for="subject-field" class="pb-2">Subject</label>
                            <input type="text" name="subject" [(ngModel)]="formModel.subject" id="subject-field"
                                class="form-control" required>
                        </div>

                        <div class="col-md-12">
                            <label for="message-field" class="pb-2">Message</label>
                            <textarea name="message" [(ngModel)]="formModel.message" id="message-field" rows="10"
                                class="form-control" required></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary px-4 py-2">Send Message</button>
                        </div>

                    </div>
                </form>
            </div> -->

            <div class="col-lg-7">
                <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="php-email-form">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <label for="name-field" class="pb-2">
                                Your Name
                                <span *ngIf="ContactFormVaidate.name.value == ''" class="text-danger ms-1">*</span>
                            </label>
                            <input type="text" id="name-field" class="form-control" formControlName="name"
                                [ngClass]="{'is-invalid': isFieldInvalid('name')}" maxlength="50" />
                            <div class="invalid-feedback"
                                *ngIf="ContactFormVaidate.name.touched && ContactFormVaidate.name.errors?.['required']">
                                Name is required.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="email-field" class="pb-2">
                                Your Email
                                <span *ngIf="ContactFormVaidate.email.value == ''" class="text-danger ms-1">*</span>
                            </label>
                            <input type="email" id="email-field" class="form-control" formControlName="email"
                                [ngClass]="{'is-invalid': isFieldInvalid('email')}" maxlength="254" />
                            <div class="invalid-feedback"
                                *ngIf="ContactFormVaidate.email.touched && ContactFormVaidate.email.errors">
                                <span *ngIf="ContactFormVaidate.email.errors['required']">Email is required.</span>
                                <span *ngIf="ContactFormVaidate.email.errors['email']">Enter a valid email.</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="subject-field" class="pb-2">
                                Subject
                                <span *ngIf="ContactFormVaidate.subject.value == ''" class="text-danger ms-1">*</span>
                            </label>
                            <input type="text" id="subject-field" class="form-control" formControlName="subject"
                                [ngClass]="{'is-invalid': isFieldInvalid('subject')}" maxlength="100" />
                            <div class="invalid-feedback"
                                *ngIf="ContactFormVaidate.subject.touched && ContactFormVaidate.subject.errors?.['required']">
                                Subject is required.
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="message-field" class="pb-2">
                                Message
                                <span *ngIf="ContactFormVaidate.message.value == ''" class="text-danger ms-1">*</span>
                            </label>
                            <textarea id="message-field" rows="10" class="form-control" formControlName="message"
                                [ngClass]="{'is-invalid': isFieldInvalid('message')}" maxlength="1000"></textarea>
                            <div class="invalid-feedback"
                                *ngIf="ContactFormVaidate.message.touched && ContactFormVaidate.message.errors?.['required']">
                                Message is required.
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary px-4 py-2" [disabled]="contactForm.invalid">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
