<!-- <router-outlet></router-outlet> -->
<!-- <div class="d-flex flex-row full-layout-wrapper">
  <app-header></app-header>

  <main class="main-content w-100">
    <button class="scroll-top d-flex align-items-center justify-content-center" *ngIf="showScrollButton"
      (click)="scrollToTop()">
      <i class="bi bi-arrow-up-short"></i>
    </button>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </main>
</div> -->


<div class="layout-wrapper d-flex">
  <!-- Sidebar -->
  <app-header class="sidebar"></app-header>

  <!-- Main Content Area -->
  <main class="main-content">
    <button class="scroll-top d-flex align-items-center justify-content-center" *ngIf="showScrollButton"
      (click)="scrollToTop()">
      <i class="bi bi-arrow-up-short"></i>
    </button>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </main>
</div>