::ng-deep .mat-warn {
  background-color: #149ddd !important;
  color: #fff;
}

::ng-deep .mat-success {
  background-color: #2c8831 !important;
  color: #fff;
}

::ng-deep .mat-error {
  background-color: #df5252 !important;
  color: #fff;
}
