<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Highly motivated Full Stack Developer with 2.4 years of experience in .NET Core, Angular, SQL, and modern web
            technologies. Proven expertise in API development, component-driven UI, and scalable architectures.</p>

        <div class="mt-3 mt-lg-0">
            <a href="../../../assets/resume/Tanmay Tank.pdf" download class="btn btn-primary">
                <i class="bi bi-download me-2"></i>Get My Resume
            </a>
        </div>
    </div>
    <!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Brandon Johnson</h4>
                    <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and
                            developing user-centered digital/print marketing material from initial concept to final,
                            polished
                            deliverable.</em></p>
                    <ul>
                        <li>Chhindwara, MP, India</li>
                        <li>+91-97548-20616</li>
                        <li>taunktanmay001&#64;gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Computer Application </h4>
                    <h5>2021 - 2023</h5>
                    <p><em><a href="https://sageuniversity.in/">SAGE University Indore, MP</a></em></p>
                    <p><b>Relevant Coursework:</b> Object-Oriented Programming, Databases, Data Structures and
                        Algorithms, Operating
                        Systems, Computer Networking, Artificial Intelligence, Software Engineering, Software
                        Testing, Data Analytics, Web Technologies.</p>
                </div>

                <div class="resume-item">
                    <h4>Bachelor of Computer Application</h4>
                    <h5>2019 - 2021</h5>
                    <p><em>Government Post Graduate College, Chhindwara, MP</em></p>
                    <p><b>Relevant Coursework:</b>
                        C++, Core Java, .NET (using ASP), DBMS, Data Structures, Web Designing, Office Automation,
                        Software Engineering, Software Testing.</p>
                </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <p><em><a href="https://www.smartdatainc.com/">smartData Enterprises (I) Ltd. Nagpur, MH</a></em>
                    </p>
                    <h5>2023 - Present</h5>
                    <p>Associate Software developer 2</p>
                    <p><em>Nagpur, MH</em></p>
                    <h5>Technical Responsibilities</h5>
                    <ul>
                        <li>Developed and maintained RESTful APIs using .NET Core Web API, ensuring high performance and
                            scalability.</li>
                        <li>Implemented database design and optimization strategies in SQL Server, enhancing data
                            retrieval and storage efficiency.</li>
                        <li>Designed and developed dynamic user interfaces using Angular, delivering intuitive and
                            responsive web applications.</li>
                        <li>Collaborated with cross-functional teams to understand project requirements and translate
                            them into technical solutions.</li>
                        <li>Actively participated in Agile ceremonies, including sprint planning, daily stand-ups, and
                            retrospectives.</li>
                    </ul><br>
                    <h5>Project Work</h5>
                    <h4>Quotation System</h4>
                </div>

                <!-- the below template is for adding a next section for the work experinse as upeer -->
                <div class="resume-item">
                    <h4>Graphic design specialist</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Stepping Stone Advertising, New York, NY</em></p>
                    <ul>
                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                            advertisements).</li>
                        <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                        <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->