/* footer.component.scss */

.footer {
  background: #101015;
  color: #ccc;
  font-size: 14px;

  .sitename {
    color: #101015;
    font-weight: 600;
  }

  a {
    color: #e84545;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 4px;
  font-size: 13px;
  text-align: center;
}